{% load thumbnail %}

<div class="col-lg-6 order-1 mb-4">

    <!--
        Thumbnails are initialized first!
        Order changed using .order-* classes
    -->
    <div class="card p-1 h-100">
        <div class="row">
            {% if not category.categoryimage_set.all %}
                <div class="col-12">
                    <div class="py-2 px-4">
                    <img class="img-fluid rounded"
                         data-src="https://placehold.co/800?text=No+Image"
                         src="https://placehold.co/800?text=No+Image"
                         alt="No image">
                    </div>
                </div>
            {% else %}
                <!-- thumbnail slider -->
                <div class="col-12 order-2">

                    <div id="swiper_secondary" class="swiper-container swiper-thumbs mt-3"
                         data-swiper='{
                                                    "slidesPerView": 3,
                                                    "spaceBetween": 3,
                                                    "autoplay": false,
                                                    "loop": false,
                                                    "zoom": false,
                                                    "effect": "slide",
                                                    "pagination": null,
                                                    "watchSlidesVisibility": true,
                                                    "watchSlidesProgress": true,
                                                    "loopedSlides": 1,
                                                    "thumbs": {
                                                        "slideThumbActiveClass": "bg-light"
                                                    },
                                                    "breakpoints": {
                                                        "768": 	{ "slidesPerView": "5" }
                                                    }
                                                }'>

                        <div class="swiper-wrapper text-center">

                            {% for image in category.categoryimage_set.all %}
                            <div class="swiper-slide p-2 rounded cursor-pointer">
                                <img height="80" class="bg-suprime rounded"
                                     src="{{ image.image.url|thumbnail_url:'category_xs' }}"
                                     alt="...">
                            </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>
                <!-- /thumbnail slider (hidden on mobile) -->


                <!-- primary slider -->
                <div class="col-12 order-1">

                    <div id="swiper_primary" class="swiper-container swiper-preloader swiper-white mx-auto"
                         data-swiper-link="swiper_secondary"
                         data-swiper='{
                                                    "slidesPerView": 1,
                                                    "spaceBetween": 0,
                                                    "autoplay": false,
                                                    "loop": true,
                                                    "zoom": true,
                                                    "effect": "slide",
                                                    "loopedSlides": 1,
                                                    "breakpoints": {
                                                        "920": 	{ "slidesPerView": "1" }
                                                    }
                                                }'>
                        <div class="swiper-wrapper text-center">

                            {% for image in category.categoryimage_set.all %}
                            <div class="swiper-slide">
                                <div class="swiper-zoom-container">
                                    <img class="{% if not forloop.first %}lazy {% endif %}bg-suprime img-fluid rounded"

                                         sizes="(max-width: 768px) 100vw"
                                         src="{{ image.image.url|thumbnail_url:'category' }}"
                                         alt="..." style="max-height: 600px;">
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <!-- Left|Right Arrows -->
                        <div class="swiper-button-next rounded-circle shadow-xs d-none d-md-block"></div>
                        <div class="swiper-button-prev rounded-circle shadow-xs d-none d-md-block"></div>

                    </div>
                    <!-- /primary slider -->

                </div>
            {% endif %}
        </div>
    </div>

</div>