// your custom includes starts here
.navbar-nav .nav-link.active {
  color: #0d848d;
}

#footer .contacts p{
  margin-bottom: 0;
}

#footer .contacts a{
  color: #ffffff;
  border-bottom: 1px dotted;
}